h1,
h2,
p,
.start-button,
a {
    font-family: 'Press Start 2P',
        cursive;
    text-align: center;
    color: #777
}

p {
    font-size: 0.7em;
}

h1 {
    color: #fe7f71
}

h2 {
    color: #fad57d;
    font-size: 1.5em
}

#canvas {
    display: none
}

#canvas.start {
    display: block
}

.start-button {
    padding: 20px 50px;
    border: 3px solid #fe5340;
    background-color: #fe7f71;
    color: white;
    transition: all 0.5s;
}

.start-button:hover {
    transform: scale(1.1);
    color: white;
    text-decoration: none;
}

.game-instructions.inactive {
    display: none
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
}

article.image-container {
    display: flex;
    justify-content: center;
}

article.instructions-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px
}

.main-image {
    width: 700px;
}

.end-message {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;

}

.end-message.inactive {
    display: none
}



.game-over-text {

    font-size: 200x;
    z-index: 20;
    color: #64571a
}

.background-end-message {
    left: 50%;
    position: absolute;
    width: 500px;
    margin-left: -250px;
    z-index: 10;

}

.button-play-again {
    color: #fff;
    margin: 10px;
    z-index: 20;
    width: 250px;
    padding: 10px 20px;
    transition: all 0.5s;



}

.button-play-again:hover {
    color: white;
    transform: scale(1.2);
    text-decoration: none;
}

.sound {
    width: 50px;
    padding: 0
}

.sound-off.inactive {
    display: none
}

.sound-on.inactive {
    display: none
}

.game .sound {
    width: 35px;
    padding: 0
}

.sound-control.game {
    position: absolute;
    left: 15px;
    top: 15px;
}

.game .sound.inactive {
    display: none;
}